<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>基本信息 - 华中大社联人力资源管理系统</title>
    <!--    引入 JQuery 脚本    -->
    <script src="{{ url_for('static', filename='js/jquery-1.8.0.js') }}"></script>
    <!--    引入日期格式转换器   -->
    <script src="{{ url_for('static', filename='js/utc2yymmdd.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/popwindow.css') }}">
	
	<style>

	</style>
</head>
<body>
	<div class="head">
		<div class="top-bar">
		
			<div class="title-logo">
				<a title="back-to-index" href="/">
					华中大社联HR系统——基本信息管理
				</a>
			</div>
			
			<div class="title-info">
				<ul>
					<li id="current-user-name">当前用户：&nbsp&nbsp {{ user.username }}</li>
					<li id="current-user-type">
						    {% if isPremiumUser %}
								高级用户
							{% else %}
								普通用户
							{% endif %}
					</li>
					<li id="logout">
							{% if g.user.is_authenticated() %}
								<a href="{{ url_for('logout') }}">注销</a>
							{% endif %}					
					</li>
				</ul>
			</div>
		</div>
	</div>


    <!--    【调试模式】  接收并显示 Flash 信息 -->
	{% if get_flashed_messages() %}
		<div class="flash-message">
					<ul>
						{% for message in get_flashed_messages() %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
		</div>
	{% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>